---
content_placeholder: {{ content }}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>--- if( page-title ) ------ metadata.page-title --- - --- endif ---ByteSprite.io</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
    </head>

    <body>
        <div class="container">
            <h1>ByteSprite.io</h1>

            {{ content }}
        </div>
    </body>
</html>
