*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    background-color: #222;
    color: #ccc;
}

a
{
    color: #fff;
    font-weight: bold;
    text-decoration-thickness: 2px;
}

.container
{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}
